* html .btn { border: 0px; text-align: center; }
.btn { width: 100px; background-image: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/btn-ie6.png", sizingMethod="image"); }
.btn * { width: 100px; background-image: none; }
* html .btn span,
* html .btn i { text-align: center; width: 100px; padding: 0px; }


* html .btnC { border: 0px; text-align: center; }
.btnC { width: 100px; background-image: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/btn-ie6.png", sizingMethod="image"); }
.btnC * { width: 100px; background-image: none; }
* html .btnC span,
* html .btnC i { text-align: center; width: 100px; padding: 0px; }

* html .btnC2 { border: 0px; text-align: center; }
.btnC2 { width: 100px; background-image: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/btn-ie6.png", sizingMethod="image"); }
.btnC2 * { width: 100px; background-image: none; }
* html .btnC2 span,
* html .btnC2 i { text-align: center; width: 100px; padding: 0px; }


* html .btnR { border: 0px; text-align: center; }
.btnR { width: 100px; background-image: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/btn-ie6.png", sizingMethod="image"); }
.btnR * { width: 100px; background-image: none; }
* html .btnR span,
* html .btnR i { text-align: center; width: 100px; padding: 0px; }