<div class="block" id="block_quick_add">
	<h4>
		{$block_heading_add_product_id}
	</h4>
	<div class="block_content">

<form name="quick_add" action="{html_get_link}" method="post">
    <input type="hidden" name="{$oos_session_name}" value="{$oos_session_id}">
    <input type="hidden" name="formid" value="{$formid}">
    <input type="hidden" name="action" value="add_a_quickie">
    <input type="hidden" name="mp" value="{$main_page}">
    <input type="hidden" name="file" value="{$page_file}">

	<p>{$lang.block_add_product_id_text|wordwrap:25:"<br />\n"}</p>
	<p><input type="text" name="cart_quantity" value="1" maxlength="3" size="2" />&nbsp;<input type="text" name="quickie" size="9" />&nbsp;{html_customer_image_submit image="cart.gif" alt=$block_heading_add_product_id}</p>
</form>

	</div>
</div>