{if $oEvent->installed_plugin('affiliate')}
<div class="block" id="block_affiliate">
	<h4>
		{$block_heading_affiliate}
	</h4>
	<div class="block_content">
		<ul>
{if (isset($smarty.session.affiliate_id)) }
			<li><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_summary}" title="{$lang.block_affiliate_summary}">{$lang.block_affiliate_summary}</a></li>
			<li><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_account}" title="{$lang.block_affiliate_account}">{$lang.block_affiliate_account}</a></li>
			<li><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_payment}" title="{$lang.block_affiliate_payment}">{$lang.block_affiliate_payment}</a></li>
			<li><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_clicks}" title="{$lang.block_affiliate_clickrate}">{$lang.block_affiliate_clickrate}</a></li>
			<li><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_sales}" title="{$lang.block_affiliate_sales}">{$lang.block_affiliate_sales}</a></li>
			<li><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_banners}" title="{$lang.block_affiliate_banners}">{$lang.block_affiliate_banners}</a></li>
			<li><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_contact}" title="{$lang.block_affiliate_contact}">{$lang.block_affiliate_contact}</a></li>
			<li><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_faq}" title="{$lang.block_affiliate_faq}">{$lang.block_affiliate_faq}</a></li>
			<li><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_logout}" title="{$lang.block_affiliate_logout}">{$lang.block_affiliate_logout}</a></li>
{else}
			<li><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_info}" title="{$lang.block_affiliate_info}">{$lang.block_affiliate_info}</a></li>
			<li><a href="{html_href_link modul=$modules.affiliate file=$filename.affiliate_affiliate}" title="{$lang.block_affiliate_login}">{$lang.block_affiliate_login}</a></li>
{/if}
		</ul>
	</div>
</div>
{/if}