{if $best_sellers_block eq 'true'}
<div class="block" id="block_best_sellers">
	<h4>
		{$block_heading_best_sellers}
	</h4>
	<div class="block_content">
		<ul>

{foreach name=best item=best_seller from=$best_sellers_list}
			<li>
				{$smarty.foreach.best.iteration|number_format}
	{if $smarty.const.BLOCK_BEST_SELLERS_IMAGE eq 'true'}
				{tooltip products_id=$best_seller.products_id products_description=$best_seller.products_description image=$best_seller.products_image}{$best_seller.products_name|truncate:14:"":true|close_tags}</a>
	{else}
				<a href="{product_info_link products_id=$best_seller.products_id}" title="{$best_seller.products_name}">{$best_seller.products_name|truncate:17:"":true|close_tags}</a>
	{/if}
			</li>
{/foreach}

		</ul>
	</div>
</div>
{/if}