{if $customers_status_block eq 'true'}
	<h4>
		{$block_heading_customers_status_box}
	</h4>
	<div class="block_content">
		<p>
			{$lang.text_info_csname}<br />
			{$smarty.session.member->group.text}
		</p>

	{if ($smarty.session.member->group.discount > 0 ) && ($smarty.session.member->group.ot_discount_flag eq 1 ) }
		<p>
			{$lang.table_heading_discount}: {$smarty.session.member->group.discount|number:"2"}%.<br />
			{$lang.sub_title_ot_discount}<br />
			{$lang.text_info_minimum_amount} : {$customers_discount}<br />
			{$lang.table_heading_discount} : {$smarty.session.member->group.ot_discount} %
		</p>
	{elseif $smarty.session.member->group.discount > 0 }
		<p>
			{$lang.table_heading_discount}: {$smarty.session.member->group.discount|number:"2"}%
		</p>
	{/if}
	{if $smarty.session.member->group.show_price eq 1 }
		{if $smarty.session.member->group.show_price_tax eq 1 }
			<p>{$lang.text_info_show_price_with_tax_yes}</p>
		{else}
			<p>{$lang.text_info_show_price_with_tax_no}</p>
		{/if}
	{else}
			<p>{$lang.text_info_show_price_no}</p>
	{/if}

	</div>
</div>

{/if}