<div class="block" id="block_information">
	<h4>
		{$block_heading_information}
	</h4>
	<div class="block_content">
		<ul>
{if $oEvent->installed_plugin('gallery')}
			<li><a href="{html_href_link modul=$modules.info file=$filename.info_gallery}" title="{$lang.block_information_gallery}">{$lang.block_information_gallery}</a></li>
{/if}
{foreach item=info from=$information}
			<li><a href="{html_href_link modul=$modules.info  file=$filename.information information_id=$info.information_id}" title="{$info.information_name}" rel="nofollow">{$info.information_name}</a></li>
{/foreach}
			<li><a href="{html_href_link modul=$modules.main file=$filename.contact_us}" title="{$lang.block_information_contact}" rel="nofollow">{$lang.block_information_contact}</a></li>
		</ul>
	</div>
</div>