{if $xsell_block eq '1'}
<div class="block" id="block_ticket">
	<h4>
		{$block_heading_xsell}
	</h4>
	<div class="block_content">

		<ul>
		{foreach name=xsell item=xsell_products from=$block_xsell_products}
			<li>
			{if $smarty.const.BLOCK_XSELL_PRODUCTS_IMAGE eq '1'}
				{tooltip products_id=$xsell_products.products_id products_description=$xsell_products.products_description image=$xsell_products.products_image}{$xsell_products.products_name|truncate:14:"":true|close_tags}</a>
			{else}
				<a href="{product_info_link products_id=$xsell_products.products_id}">{$xsell_products.products_name|truncate:14:"":true|close_tags}</a></td>
			{/if}
				{if $smarty.session.member->group.show_price eq 1}<a href="{html_href_link page=$page_file oos_get=$get_params action=buy_now products_id=$xsell_products.products_id}">{html_image_button image="cart.gif" alt=$lang.icon_cart}</a>{/if}
			</li>
		{/foreach}
		</ul>
	</div>
</div>
{/if}