{if $specials_block eq '1'}
<div class="block" id="block_specials">
	<h4><a href="{html_href_link page=$pages.specials}" title="{$block_heading_specials}">{$block_heading_specials}</a>
	</h4>
	<div class="block_content">

		<p>
			<a href="{product_info_link products_id=$specials_random_product.products_id}">{small_product_image image=$specials_random_product.products_image alt=$specials_random_product.products_name|strip_tags}</a><br />
			<a href="{product_info_link products_id=$specials_random_product.products_id}">{$specials_random_product.products_name}</a><br />
			<del>{$specials_random_product_price}{$smarty.const.UNITS_DELIMITER}{$products_units[$specials_random_product.products_units_id]}</del><br />
			{if $specials_random_product.products_base_price != 1}<del><span class="base_price">{$specials_random_product.products_base_unit} = {$specials_random_base_product_price}</span></del><br />{/if}

			<span class="special_price">{$specials_random_product_special_price}{$smarty.const.UNITS_DELIMITER}{$products_units[$specials_random_product.products_units_id]}</span><br />
			{if $specials_random_product.products_base_price != 1}<br /><span class="special_base_price">{$specials_random_product.products_base_unit} = {$specials_random_base_product_special_price}</span><br />{/if}
		</p>

		<span class="pangv">{$pangv}</span><br />
	</div>
</div>
{/if}
