{if $tell_a_friend_block eq '1'}
<div class="block" id="block_tell_a_friend">
	<h4>
		<a href="{html_href_link page=$pages.tell_a_friend}" title="{$block_heading_tell_a_friend}">{$block_heading_tell_a_friend}</a>
	</h4>
	<div class="block_content">

<form name="tell_a_friend" action="{html_get_link}" method="get" />
	<input type="hidden" name="pages" value="{$filename.tell_a_friend}" />
	<input type="hidden" name="products_id" value="{$tell_products_id}" />
	<input type="hidden" name="{$oos_session_name}" value="{$oos_session_id}" />
	<input type="hidden" name="formid" value="{$formid}">

	<p><input type="text" name="send_to" size="10" />&nbsp;{html_image_submit image="tell_a_friend.gif" alt=$lang.block_heading_tell_a_friend}<br />
	{$lang.block_tell_a_friend_text}</p>
</form>

	</div>
</div>
{/if}