<div class="block" id="block_translate_google">
	<h4>
		{$block_heading_translate_google}
	</h4>
	<div class="block_content">
		<ul>
			<li><a href="http://translate.google.com/translate?u={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;langpair=en&hl=de" rel="nofollow"><img src="{$smarty.const.OOS_IMAGES}flags/german.gif" border="0" alt=" " width="20" height="12" /></a></li>
			<li><a href="http://translate.google.com/translate?u={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;langpair=en&hl=fr" rel="nofollow"><img src="{$smarty.const.OOS_IMAGES}flags/french.gif" border="0" alt=" " width="20" height="12" /></a></li>
			<li><a href="http://translate.google.com/translate?u={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;langpair=en&hl=it" rel="nofollow"><img src="{$smarty.const.OOS_IMAGES}flags/italian.gif" border="0" alt=" " width="20" height="12" /></a></li>
			<li><a href="http://translate.google.com/translate?u={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;langpair=en&hl=es" rel="nofollow"><img src="{$smarty.const.OOS_IMAGES}flags/spanish.gif" border="0" alt=" " width="20" height="12" /></a></li>
			<li><a href="http://translate.google.com/translate?u={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;langpair=en&hl=pt" rel="nofollow"><img src="{$smarty.const.OOS_IMAGES}flags/portuguese.gif" border="0" alt=" " width="20" height="12" /></a></li>
		</ul>

	</div>
</div>
