<?xml version="1.0" encoding="{$smarty.const.CHARSET}"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$smarty.session.iso_639_1}" lang="{$smarty.session.iso_639_1}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$smarty.const.CHARSET}" />
<title>{$heading_titel}</title>
<base href="{$oos_base}"/>

<link rel="stylesheet" type="text/css" href="{$theme_css}/css/stylesheet.css"/>

{literal}
<!--[if lt IE 7]>
{/literal}
<link rel="stylesheet" type="text/css" href="yaml/patches/patch_layout_draft.css" />
<link rel="stylesheet" type="text/css" href="{$theme_css}/css/patches/ie6.css" media="screen" />
{literal}
<![endif]-->
{/literal}

{literal}
<style type="text/css">
/*<![CDATA[*/
BODY { margin-bottom: 10px; margin-left: 10px; margin-right: 10px; margin-top: 10px; }
/*]]>*/
</style>
{/literal}
</head>

<body>

<h2>{$heading_titel}</h2>

<p>{$help_text}</p>

<div align="right" style="margin-top: 30px; margin-bottom: 30px;">
	<a href="javascript:window.close()"><span class="small">{$lang.text_close_window}</span></a>
</div>


</body>
</html>