<div class="block" id="block_babelfish">
	<h4>
		{$block_heading_babelfish}
	</h4>
	<div class="block_content">
		<ul>
			<li><a href="http://babelfish.altavista.com/babelfish/tr?doit=done&amp;url={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;lp=en_de"><img src="{$smarty.const.OOS_IMAGES}flags/german.gif" border="0" alt=" " width="20" height="12" /></a></li>
			<li><a href="http://babelfish.altavista.com/babelfish/tr?doit=done&amp;url={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;lp=en_fr"><img src="{$smarty.const.OOS_IMAGES}flags/french.gif" border="0" alt=" " width="20" height="12" /></a></li>
			<li><a href="http://babelfish.altavista.com/babelfish/tr?doit=done&amp;url={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;lp=en_it"><img src="{$smarty.const.OOS_IMAGES}flags/italian.gif" border="0" alt=" " width="20" height="12" /></a></li>
			<li><a href="http://babelfish.altavista.com/babelfish/tr?doit=done&amp;url={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;lp=en_es"><img src="{$smarty.const.OOS_IMAGES}flags/spanish.gif" border="0" alt=" " width="20" height="12" /></a></li>
			<li><a href="http://babelfish.altavista.com/babelfish/tr?doit=done&amp;url={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;lp=en_pt"><img src="{$smarty.const.OOS_IMAGES}flags/portuguese.gif" border="0" alt=" " width="20" height="12" /></a></li>
			<li><a href="http://babelfish.altavista.com/babelfish/tr?doit=done&amp;url={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;lp=en_zh"><img src="{$smarty.const.OOS_IMAGES}flags/chineese.gif" border="0" alt=" " width="20" height="12" /></a></li>
			<li><a href="http://babelfish.altavista.com/babelfish/tr?doit=done&amp;url={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;lp=en_ko"><img src="{$smarty.const.OOS_IMAGES}flags/korean.gif" border="0" alt=" " width="20" height="12" /></a></li>
			<li><a href="http://babelfish.altavista.com/babelfish/tr?doit=done&amp;url={html_href_link modul=$main_page file=$page_file oos_get=$get_params language=eng}&amp;lp=en_ja"><img src="{$smarty.const.OOS_IMAGES}flags/japaneese.gif" border="0" alt=" " width="20" height="12" /></a></li>
		</ul>
	</div>
</div>