<div class="block" id="block_service">
	<h4>
		{$block_heading_service}
	</h4>
	<div class="block_content">
		<ul>
{if $smarty.const.DISPLAY_NEWSFEED eq '1'}
			<li><a href="{html_href_link modul=$modules.info file=$filename.info_newsfeed}" title="{$lang.block_service_newsfeed}">{$lang.block_service_newsfeed}</a></li>
{/if}
{if $smarty.const.MODULE_ORDER_TOTAL_GV_STATUS eq '1'}
			<li><a href="{html_href_link modul=$modules.gv file=$filename.gv_faq}" title="{$lang.block_service_gv}">{$lang.block_service_gv}</a></li>
{/if}
			<li><a href="{html_href_link modul=$modules.info file=$filename.info_sitemap}" title="{$lang.block_service_sitemap}">{$lang.block_service_sitemap}</a></li>
		</ul>
	</div>
</div>