<div class="block" id="block_shopping_cart">
	<h4>
		<a href="{html_href_link modul=$modules.main file=$filename.main_shopping_cart}" title="{$block_heading_shopping_cart}">{$block_heading_shopping_cart}</a>
	</h4>
	<div class="block_content">

{if $cart_count_contents > 0}
	{foreach item=products from=$cart_products}

		{if (( $smarty.session.new_products_id_in_cart ) && ($smarty.session.new_products_id_in_cart eq $products.id ))}
			<span class="newItemInCart">
		{else}
			<span class="oos-BlockContent">
		{/if}
				{$products.quantity|quantity}&nbsp;x&nbsp;
			</span>

		<a href="{product_info_link products_id=$products.id}"  title="{$products.name}">

		{if (( $smarty.session.new_products_id_in_cart ) && ($smarty.session.new_products_id_in_cart eq $products.id ))}
			<span class="newItemInCart">
		{else}
			<span class="oos-BlockContent">
		{/if}
				{$products.name|truncate:25:"...":true|close_tags}
			</span>
	{/foreach}
{else}
	<p>
		{$lang.block_shopping_cart_empty}
	</p>
{/if}


{if $cart_count_contents > 0}
	<div class="hrRed">&nbsp;</div>
	<p>{$cart_show_total}</p>
{/if}

{if $gv_amount_show > 0}
	<div class="hrRed">&nbsp;</div>
	<p>{$lang.voucher_balance} {$gv_amount_show}</p>
	<p><a href="{html_href_link modul=$modules.gv file=$filename.gv_send}" title="{$lang.gv_send_to_friend}">{$lang.gv_send_to_friend}</a></p>
{/if}

{if $smarty.session.gv_id}
	<div class="hrRed">&nbsp;</div>
	<p>{$lang.voucher_redeemed} {$gv_coupon_show}</p>
   </tr>
{/if}

{if $smarty.session.cc_id}
	<div class="hrRed">&nbsp;</div>
	<p>{$lang.cart_coupon}</p>
	<p><a class="popup info" href="{html_href_link modul=$modules.gv file=$filename.popup_coupon_help cID=$smarty.session.cc_id}" title="{$lang.cart_coupon_info}">{$lang.cart_coupon_info}</a></p>
{/if}

	</div>
</div>