
  {if ( (($product_info.products_subimage1) or ($product_info.products_subimage2) or ($product_info.products_subimage3) or ($product_info.products_subimage4) or ($product_info.products_subimage5) or ($product_info.products_subimage6)) )}

      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td>
          <table border="0" width="100%">
             <tr width=100%>
    {if $product_info.products_subimage1 != '' }
               <td align="center" class="smallText">
                 <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_subimage1}" rel="lightbox[gallery]" title="{$products_name}"><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_subimage1}" alt="{$product_info.products_name|escape:"quotes"}" hspace="5" vspace="5"></a>
               </td>
    {/if}
    {if $product_info.products_subimage2 != '' }
               <td align="center" class="smallText">
                 <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_subimage2}" rel="lightbox[gallery]" title="{$products_name}"><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_subimage2}" alt="{$product_info.products_name|escape:"quotes"}" hspace="5" vspace="5"></a>
               </td>
    {/if}
    {if $product_info.products_subimage3 != '' }
             <td align="center" class="smallText">
                <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_subimage3}" rel="lightbox[gallery]" title="{$products_name}"><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_subimage3}" alt="{$product_info.products_name|escape:"quotes"}" hspace="5" vspace="5"></a>
               </td>
    {/if}
           </tr>
           <tr width="100%">
    {if $product_info.products_subimage4 != '' }
               <td align="center" class="smallText">
                 <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_subimage4}" rel="lightbox[gallery]" title="{$products_name}"><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_subimage4}" alt="{$product_info.products_name|escape:"quotes"}" hspace="5" vspace="5"></a>
               </td>
    {/if}
    {if $product_info.products_subimage5 != '' }
              <td align="center" class="smallText">
                 <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_subimage5}" rel="lightbox[gallery]" title="{$products_name}"><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_subimage5}" alt="{$product_info.products_name|escape:"quotes"}" hspace="5" vspace="5"></a>
              </td>
    {/if}
    {if $product_info.products_subimage6 != '' }
             <td align="center" class="smallText">
                 <a href="{$smarty.const.OOS_IMAGES}{$smarty.const.OOS_POPUP_IMAGES}{$product_info.products_subimage6}" rel="lightbox[gallery]" title="{$products_name}"><img src="{$smarty.const.OOS_IMAGES}{$product_info.products_subimage6}" alt="{$product_info.products_name|escape:"quotes"}" hspace="5" vspace="5"></a>
              </td>
    {/if}
           </tr>
        </table>
      </td>
    </tr>
{/if}