{*  $Id$ *}

{$oosPageHeading}


{if $oos_page_numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '1' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
	{$oosPageNavigation}
{/if}


{section name=i loop=$oos_specials_array}
	{if $smarty.section.i.first}

<div class="subcolumns">
	<div class="c50l">
		<div class="subcl">

	{/if}
			<div class="subcolumns">
				<div class="c25l">
					<div class="subcl">
						<p><a href="{product_info_link products_id=$oos_specials_array[i].products_id}">{small_product_image image=$oos_specials_array[i].products_image alt=$oos_specials_array[i].products_name|strip_tags}</a></p>

					</div>
				</div>

				<div class="c75r">
					<div class="subcr">
						<p><a href="{product_info_link products_id=$oos_specials_array[i].products_id}" title="{$oos_specials_array[i].products_name}"><strong>{$oos_specials_array[i].products_name}</strong></a></p>
						<p>{$oos_specials_array[i].products_description|truncate:120:" [...]":false|close_tags}</p>

						<p>
							{$lang.text_price} <del>{$oos_specials_array[i].products_price}</del><br />
							{$oos_specials_array[i].products_special_price}<br />

							{if $oos_specials_array[i].products_base_price != 1}
								<span class="smallText">{$lang.text_products_base_price}: </span><br />
								<span class="special_base_price">{$oos_specials_array[i].products_base_unit} = {$oos_specials_array[i].base_product_special_price}</span><br />
							{/if}
						</p>
						<span class="pangv">{$pangv}</span><br />

						<p>
							{if $smarty.session.member->group.show_price eq 1}
								<a href="{html_href_link page=$page_file action=buy_now products_id=$oos_specials_array[i].products_id}">{html_image_button image="hp_buy.gif" alt=$lang.image_button_in_cart}</a>
							{/if}

							<a href="{product_info_link products_id=$oos_specials_array[i].products_id}">{html_image_button image="hp_more.gif" alt=$lang.image_button_in_cart}</a>
						</p>

					</div>
				</div>
			</div>


	{if $smarty.section.i.rownum is even}
		</div>
	</div>
</div>

<div class="subcolumns">
	<div class="c50l">
		<div class="subcl">

	{else}
		</div>
	</div>

	<div class="c50r">
		<div class="subcr">
	{/if}

	{if $smarty.section.i.last}
		</div>
	</div>
</div>
	{/if}
{/section}


{if $oos_page_numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
	{$oosPageNavigation}
{/if}

