{*  $Id: products_new.html 118 2009-03-28 02:35:25Z r23 $ *}

{$oosPageHeading}


{if $oos_page_numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '1' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
	{$oosPageNavigation}
{/if}


{foreach item=products_new from=$oos_top_viewed_array}

<div class="subcolumns">
	<div class="c33l">
		<div class="subcl">
			<p>
				<a href="{product_info_link products_id=$products_new.id}">{small_product_image image=$products_new.image alt=$products_new.name|strip_tags}</a>
			</p>
		</div>
	</div>

	<div class="c66r">
		<div class="subcr">

			<p>
				<a href="{product_info_link products_id=$products_new.id}"><strong>{$products_new.name}</strong></a>
			</p>

			{if ($smarty.const.SHOW_DATE_ADDED_AVAILABLE eq '1')}
				<p>{$lang.text_date_added}{$products_new.date_added|oos_date_short}</p>
			{/if}

			{if $products_new.manufacturer != ''}
				<p>{$lang.text_manufacturer} {$products_new.manufacturer}</p>
			{/if}

			<p>
				{if (!empty($products_new.new_product_special_price))}
					{$lang.text_price} <s>{$products_new.new_product_price}{$products_new.new_product_units}</s><br />
					{if $products_new.products_base_price != 1}<s>{$lang.text_products_base_price}: <span class="base_price">{$products_new.new_products_base_unit} = {$products_new.new_base_product_price}</span></s><br />{/if}

					<span class="special_price">{$lang.text_price} {$products_new.new_product_special_price}{$products_new.products_units}</span><br />
					{if $products_new.products_base_price != 1}<span class="special_base_price">{$lang.text_products_base_price}: {$products_new.new_products_base_unit} = {$products_new.new_base_product_special_price}</span><br />{/if}

				{else}
					{if $products_new.new_max_product_discount != 0}
						{$lang.text_price} <s>{$products_new.new_product_price}</s> -{$products_new.new_max_product_discount}%<br />
						<span class="discount_price">{$products_new.new_product_discount_price}{$products_new.new_product_units}</span><br />
						{if $products_new.products_base_price != 1}<span class="discount_base_price">{$lang.text_products_base_price}: {$products_new.new_products_base_unit} = {$products_new.new_base_product_special_price}</span><br />{/if}
					{else}
						{$lang.text_price} {$products_new.new_product_price}{$products_new.new_product_units}<br />
						{if $products_new.products_base_price != 1}<span class="base_price">{$lang.text_products_base_price}: {$products_new.new_products_base_unit} = {$products_new.new_base_product_price}</span><br />{/if}
					{/if}
				{/if}
			</p>
			<span class="pangv">{$pangv}</span><br />

			<p>
				{if $smarty.session.member->group.show_price eq 1 }
					<a href="{html_href_link page=$pages.products_new action=buy_now products_id=$products_new.id}">{html_image_button image="in_cart.gif" alt=$lang.image_button_in_cart}</a>
				{else}
					<a href="{html_href_link page=$pages.login connection=SSL}">{html_image_button image="sign_in.gif" alt=$lang.image_button_login}</a>
				{/if}
			</p>
		</div>
	</div>
</div>

{foreachelse}
	<p>
		{$lang.text_no_new_products}
	</p>
{/foreach}


{if $oos_page_numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
	{$oosPageNavigation}
{/if}

