<div class="block" id="block_skype">
	<h4>
		{$block_heading_skype}
	</h4>
	<div class="block_content">
<!--
Skype 'Call me!' button
http://www.skype.com/go/skypebuttons
-->
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
<a href="skype:{$smarty.const.SKYPE_ME}?call"><img src="http://download.skype.com/share/skypebuttons/buttons/call_blue_transparent_34x34.gif" style="border: none;" width="34" height="34" alt="Call me!" /></a>

	</div>
</div>
