<table border="0" width="100%" cellspacing="0" cellpadding="2">
{if $oos_page_numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '1' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$oosPageNavigation}
  <tr>
    <td><img src="{$theme_image}/black.gif" border="0" alt="" width="100%" height="1"></td>
  </tr>
{/if}
  <tr>
    <td><table border="0" width="100%" cellspacing="0" cellpadding="2">
{section name=i loop=$list_box_contents}
  {if $smarty.section.i.first}
          <tr>
            <td><br />

<table border="0" width="100%" cellspacing="0" cellpadding="4" class="oos-BoxContents">
  <tr>
  {/if}
    <td align="center" width="33%">


<table border="0" cellpadding="0" cellspacing="0">
	<tbody>
<tr><td><a href="{$list_box_contents[i].product_list_link}" title="{$list_box_contents[i].products_name}">{$list_box_contents[i].products_name}</a></td></tr>
{if $define_list.PRODUCT_LIST_IMAGE gt '0'}
<tr><td><a href="{$list_box_contents[i].product_list_link}">{small_product_image image=$list_box_contents[i].products_image alt=$list_box_contents[i].products_name|strip_tags}</a></td></tr>
{/if}
<tr><td>{$list_box_contents[i].products_description}<br></td></tr>
<tr><td><table class="listing" border="0" cellpadding="0" cellspacing="0">
<tbody>
{if $define_list.PRODUCT_LIST_MODEL gt '0'}
<tr>
	<td class="smallText"><b>{$lang.table_heading_model}</b></td>
	<td class="smallText" align="right">{$list_box_contents[i].products_model}</td>
</tr>
{/if}
{if $define_list.PRODUCT_LIST_MANUFACTURER gt '0'}
<tr>
	<td class="smallText"><b>{$lang.table_heading_manufacturer}</b></td>
	<td class="smallText" align="right"><a href="{html_href_link modul=$modules.main file=$filename.shop manufacturers_id=$list_box_contents[i].manufacturers_id}">{$list_box_contents[i].manufacturers_name}</td>
</tr>
{/if}
{if $define_list.PRODUCT_LIST_QUANTITY gt '0'}
<tr>
	<td class="smallText"><b>{$lang.table_heading_quantity}</b></td>
	<td class="smallText" align="right">{$list_box_contents[i].products_quantity}</td>
</tr>
{/if}
{if $define_list.PRODUCT_LIST_WEIGHT gt '0'}
<tr>
	<td class="smallText"><b>{$lang.table_heading_weight}</b></td>
	<td class="smallText" align="right">{$list_box_contents[i].products_weight}</td>
</tr>
{/if}
{if $define_list.PRODUCT_LIST_UVP gt '0'}
<tr>
	<td class="smallText"><b>{$lang.table_heading_list_price}</b></td>
	<td class="smallText" align="right">{$list_box_contents[i].product_list_uvp}</td>
</tr>
{/if}
</tbody></table></td></tr>
{if $define_list.PRODUCT_LIST_PRICE gt '0'}
<tr><td height="5"></td></tr>
<tr><td class="smallText">{$list_box_contents[i].product_list_price}</td></tr>
{/if}
{if $define_list.PRODUCT_LIST_BUY_NOW gt '0'}
<tr><td height="5"></td></tr>
<tr><td class="smallText">{$list_box_contents[i].product_list_buy_now}</td></tr>
{/if}
<tr><td height="15"></td></tr>


</tbody></table>

    </td>
  {if $smarty.section.i.rownum is div by 3}
    </tr>
    <tr>
  {/if}
  {if $smarty.section.i.last}
  </tr>
</table>
            </td>
          </tr>
  {/if}
{/section}
    </table></td>
  </tr>
  <tr>
    <td><img src="{$theme_image}/black.gif" border="0" alt="" width="100%" height="1"></td>
  </tr>
{if $oos_page_numrows > 0  && ( $smarty.const.PREV_NEXT_BAR_LOCATION eq '2' or $smarty.const.PREV_NEXT_BAR_LOCATION eq '3' )}
   {$oosPageNavigation}
{/if}
</table>