{*  $Id$ *}

{$oosPageHeading}

<div class="subcolumns">
	<div class="c50l">
		<div class="subcl">
			{$sitemap}
		</div>
	</div>

	<div class="c50r">
		<div class="subcr">
			<ul>
				<li><a href="{html_href_link page=$pages.shopping_cart}" title="{$lang.page_shopping_cart}" rel="nofollow">{$lang.page_shopping_cart}</a></li>
				<li><a href="{html_href_link page=$pages.checkout_shipping}" title="{$lang.page_checkout_shipping}" rel="nofollow">{$lang.page_checkout_shipping}</a></li>
				<li><a href="{html_href_link page=$pages.advanced_search}" title="{$lang.page_advanced_search}" rel="nofollow">{$lang.page_advanced_search}</a></li>
				<li><a href="{html_href_link page=$pages.products_new}" title="{$lang.page_products_new}">{$lang.page_products_new}</a></li>
				<li><a href="{html_href_link page=$pages.top_viewed}" title="{$lang.page_products_top_viewed}">{$lang.page_products_top_viewed}</a></li>

{if $oEvent->installed_plugin('spezials')}
				<li><a href="{html_href_link page=$pages.specials}" title="{$lang.page_specials}">{$lang.page_specials}</a></li>
{/if}
{if $oEvent->installed_plugin('reviews')}
				<li><a href="{html_href_link page=$pages.reviews}" title="{$lang.page_reviews}">{$lang.page_reviews}</a></li>
{/if}


				<li>{$lang.page_service}
					<ul>
{if $smarty.const.DISPLAY_NEWSFEED eq '1'}
						<li><a href="{html_href_link page=$pages.info_newsfeed}" title="{$lang.block_service_newsfeed}">{$lang.block_service_newsfeed}</a></li>
{/if}
{if $smarty.const.MODULE_ORDER_TOTAL_GV_STATUS eq '1'}
						<li><a href="{html_href_link page=$pages.gv_faq}" title="{$lang.block_service_gv}">{$lang.block_service_gv}</a></li>
{/if}
						<li><a href="{html_href_link page=$pages.info_sitemap}" title="{$lang.block_service_sitemap}">{$lang.block_service_sitemap}</a></li>
					</ul>
				</li>

				<li>{$lang.heading_information}
					<ul>
{if $oEvent->installed_plugin('gallery')}
						<li><a href="{html_href_link page=$pages.info_gallery}" title="{$lang.block_information_gallery}">{$lang.block_information_gallery}</a></li>
{/if}
{foreach item=info from=$information}
						<li><a href="{html_href_link page=$pages.information information_id=$info.information_id}" title="{$info.information_name}" rel="nofollow">{$info.information_name}</a></li>
{/foreach}
						<li><a href="{html_href_link page=$pages.contact_us}" title="{$lang.block_information_contact}" rel="nofollow">{$lang.block_information_contact}</a></li>
						<li><a href="{html_href_link page=$pages.info_vcard}" title="{$lang.block_information_v_card}" rel="nofollow">{$lang.block_information_v_card}</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<p>
	{css_back_button title=$lang.image_button_back}
</p>