{*  $Id$ *}
     <table border="0" width="100%" cellspacing="0" cellpadding="2">
         <tr>
           <td class="formAreaTitle">{$lang.category_personal}</td>
         </tr>
         <tr>
           <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
            <tr>
              <td class="main"><table border="0" cellspacing="0" cellpadding="2">
{if $smarty.const.ACCOUNT_GENDER eq 'true'}
          <tr>
            <td class="main">&nbsp;{$lang.entry_gender}</td>
            <td class="main">&nbsp;<input type="radio" name="gender" value="m" checked="checked">&nbsp;&nbsp;{$lang.male}&nbsp;&nbsp;<input type="radio" name="gender" value="f">&nbsp;&nbsp;{$lang.female}&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small></td>
          </tr>
{/if}
          <tr>
            <td class="main">&nbsp;{$lang.entry_first_name}</td>
            <td class="main">&nbsp;<input type="text" name="firstname" value="{$account.customers_firstname}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small></td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_last_name}</td>
            <td class="main">&nbsp;<input type="text" name="lastname" value="{$account.customers_lastname}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small></td>
          </tr>
{if $smarty.const.ACCOUNT_NUMBER eq 'true'}
  {if $read eq 'false'}
          <tr>
              <td class="main">&nbsp;{$lang.entry_number}</td>
              <td class="main">&nbsp;<input type="text" name="number" value="{$number}"></td>
          </tr>
  {else}
          <tr>
            <td class="main">&nbsp;{$lang.entry_number}</td>
            <td class="main">&nbsp;{$account.customers_number}<input type="hidden" name="number" value="{$account.customers_number}"></td>
          </tr>
  {/if}
{/if}
         <tr>
            <td class="main">&nbsp;{$lang.entry_email_address}</td>
            <td class="main">&nbsp;<input type="text" name="email_address" value="{$email_address}">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>

{if $show_password eq 'true'}
  <tr>
    <td class="formAreaTitle"><br>{$lang.category_password}</td>
  </tr>
  <tr>
    <td class="main"><table border="0" width="100%" cellspacing="0" cellpadding="2" class="formArea">
      <tr>
        <td class="main"><table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td class="main">&nbsp;{$lang.entry_password}</td>
            <td class="main">&nbsp;<input type="password" name="password" maxlength="40">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_info_text}</font></small></td>
          </tr>
          <tr>
            <td class="main">&nbsp;{$lang.entry_password_confirmation}</td>
            <td class="main">&nbsp;<input type="password" name="confirmation" maxlength="40">&nbsp;&nbsp;<small><font color="#AABBDD">{$lang.entry_password_confirmation}</font></small></td></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
{/if}
</table>

